<!DOCTYPE html>
{% block content %}
    <h2>{{ profile.user.username }}'s Profile</h2>
    <p>Movies watched: {{ profile.movies_watched }}</p>

    <h3>Earned Badges</h3>
    <ul>
        {% for badge in profile.badges.all %}
        <li>{{ badge.name }}: {{ badge.description }}</li>
        {% empty %}
        <li>No badges earned yet.</li>
        {% endfor %}
    </ul>
    <ul>
        <h3>Badges</h3>
        <button>
            <a href="{% url 'create_badges' %}">Create Badges</a>
        </button>
        <button>
            <a href="{% url 'delete_badges' %}">Delete Badges</a>
        </button>
        <button>
            <a href="{% url 'reset_user_badges' %}">Reset My Badges</a>
        </button>
        <button>
            <a href="{% url 'badge_list' %}">View Badge List</a>
        </button>
    </ul>
    <ul>
        <h3>Movies Features</h3>
        <button>
            <a href="{% url 'addedMovie' %}">Add a Movie</a>
        </button>
    
        <button>
            <a href="{% url 'recommendList' %}">View Recommended List</a>
        </button>

        <button>
            <a href="{% url 'watchlist' %}">View Watched List</a>
        </button>
    </ul>
    <ul>
        <h3>Homepage</h3>
        <button>
            <a href="{% url 'index' %}" class="btn btn-primary">Return to Home</a>
        </button>
    </ul>

    <ul>
        <h3> Logout </h3>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% endif %}
    </ul>
    <h3> Integrations </h3>
    <button>
        <a href="{% url 'get_access_token' %}">Create Access Token</a>
    </button>
    {% for integration in integrations %}
    <ul>
        <li>
            <a>{{ integration.name }}</a>
            <a> {{ integration.access_token }} </a>
            <form method="post" action="{% url 'delete_access_token' %}">
                {% csrf_token %}
                <input type="hidden" name="access_token" value="{{ integration.access_token }}">
            
                <input type="submit" value="Delete">
                </form>

        </li>
    </ul>
    
    {% endfor %}


{% endblock %}
