<!DOCTYPE html>
{% block content %}
    <h2>{{ profile.user.username }}'s Profile</h2>
    <p>Movies watched: {{ profile.movies_watched }}</p>

    <h3>Earned Badges</h3>
    <ul>
        {% for badge in profile.badges.all %}
        <li>{{ badge.name }}: {{ badge.description }}</li>
        {% empty %}
        <li>No badges earned yet.</li>
        {% endfor %}
    </ul>
    <ul>
        <h3>Badges</h3>
        <button>
            <a href="{% url 'create_badges' %}">Create Badges</a>
        </button>
        <button>
            <a href="{% url 'delete_badges' %}">Delete Badges</a>
        </button>
        <button>
            <a href="{% url 'reset_user_badges' %}">Reset My Badges</a>
        </button>
        <button>
            <a href="{% url 'badge_list' %}">View Badge List</a>
        </button>
    </ul>
    <ul>
        <h3>Movies Features</h3>
        <button>
            <a href="{% url 'addedMovie' %}">Add a Movie</a>
        </button>
        <button>
            <a href="{% url 'watchlist' %}">View Watched List</a>
        </button>
    
        <button>
            <a href="{% url 'recommendList' %}">View Recommended List</a>
        </button>
    </ul>
    <ul>
        <h3>Homepage</h3>
        <button>
            <a href="{% url 'index' %}" class="btn btn-primary">Return to Home</a>
        </button>
    </ul>

    <button>
        <a href="{% url 'recommendList' %}">View Recommended List</a>
    </button>

    <button>
        <a href="{% url 'addedMovie' %}"> Add a Movie</a>
    </button>

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% endif %}

{% endblock %}
