<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Awarding Badge</title>
    </head>

    <body>
        {% block content %}
            {% comment %} Loads the badges template tag from the pinax-badges library {% endcomment %}
            {% load badges %}

            {% comment %} Uses the slug 'my-badge' to assign the badge to the var my_badge {% endcomment %}
            {% badge "my-badge" as my_badge %}

            {% comment %} Checks if the badge was earned, and displays messages based on result {% endcomment %}
            {% if my_badge %}
                <h2>{{ message }}</h2>
                <img src="{{ my_badge.icon.url }}" alt="My Badge">
                <p>Congratulations! You have been awarded the "{{ my_badge.name }}" badge at the "{{ my_badge.level }}" level.</p>
            {% else %}
                <p>Sorry, you have not yet earned this badge.</p>
        {% endif %}

        {% endblock %}

    </body>
</html>