<!DOCTYPE html>
<html>
<head>
    <title>Random Movie Recommendation Generator</title>         
    <style>
        .hide{
            display: none;
        }

        .show {
            display: block;
        }
 
        button#posterButton{
            bottom: 50%;
            left: 50%;
            margin: auto;
            position: absolute;
            transform: translateX(-50%);
            width: 150px;
        }

        img#poster {
            height: auto;
            width: 300px;
        }    
    </style>
</head>
<body>
    <!-- Headings -->
    <h1>Welcome to the Random Movie Recommendation Generator!</h1>

    <!-- Paragraphs -->
    <p>
        This page will suggest a random movie for you to 
        watch if you're in the mood for a surprise.
        Go ahead and click the button below to view your recommendation!
        Reload the page to generate a new suggestion.
    </p>

    <h2 id="movieTitle" class="hide"> {{movieTitle}}</h2>
    <img id="poster" class="hide" src="{{ moviePoster }}" /> 

    <!-- Button -->
    <button id="posterButton" class="show" onclick="displayRec()">Give me a rec!</button>
    <!-- End of Button -->

    <script> 
        function displayRec(){
            var button = document.getElementById("posterButton")
            var poster = document.getElementById("poster");
            var title  = document.getElementById("movieTitle");
            button.classList.add("hide");
            button.classList.remove("show");
            poster.classList.add("show");
            poster.classList.remove("hide");
            title.classList.add("show");
            title.classList.remove("hide");
        }
    </script>
</body>
</html>