<!DOCTYPE html>
<html>
    <head>
        <title>Theaters Near Me</title>

        <script>
            (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
              key: "AIzaSyBxW_m9gHh4jpf8kgcua5YN8A4r9sbXvY4",
            });
        </script>

        <style>
            #map {
                height: 100%;
                width: 50%;
            }
            html, body {
              height: 100%;
              margin: 10px;
              padding: 0;
            }
        </style>

        <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxW_m9gHh4jpf8kgcua5YN8A4r9sbXvY4&callback=initMap&libraries=places">
        </script>

        <div id="map"></div>
    </head>

    <body>
        <script>
            function initMap() {

                navigator.geolocation.getCurrentPosition(function(position){
                    var userLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                    var mapOptions = {
                        center: userLatLng,
                        zoom: 8
                    };

                    var map = new google.maps.Map(document.getElementById("map"), mapOptions);

                    var searchRadius = 32186.88;

                    var searchRequest = {
                        location: userLatLng,
                        radius: searchRadius,
                        type: 'Movie Theater'
                    };

                    var service = new google.maps.places.PlacesService(map);

                    service.nearbySearch(searchRequest, function(results, status){
                        if (status === google.maps.places.PlacesServiceStatus.OK) {
                            for (var i = 0; i < results.length; i++) {
                                var place = results[i];
                                var placeLocation = place.geometry.location;
                                var placeMarker = new google.maps.Marker({
                                    position: placeLocation,
                                    map: map,
                                    title: place.name
                                });
                            }
                        }
                    });
                });
                
                

                /*var myLatLng = {lat: -34.397, lng: 150.644};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: myLatLng
                });
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                });*/
            }
        </script>
    </body>
</html>